.abus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.abus__item {
    margin: 0px;
    margin-bottom: 0;
    margin-top: 10px;
    width: 350px;
}

.abus__inner {
    width: 150px;
    position: relative;
    margin: 0 auto;
}

.abus__img {}

.abus__img img {
    height: 150px;
    width: 150px;
    display: block;
}

.abus__text {
    margin-top: 20px;
    text-align: center;
}

.abus__description {
    text-align: justify;
}

.abus__description p{
    font-family:'Jost* Light';
}
.abus__text:hover span
{
    color:#BF1B28;
}

.abus__text span{
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
}

.abus__text:hover h3
{
     color:#BF1B28;
}

.abus__text h3{
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
}

@media (max-width: 1200px) {

    .abus {
        padding: 0 10px;
    }

    .abus__item {
        padding: 0 5px;
    }
}

@media (max-width: 1100px) {

    .abus {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 0;
    }

    .abus__item {
        padding: 0 15px;
        margin-bottom: 20px;
    }

    .abus__item:last-child {
        margin-bottom: 0;
    }

    .abus__text {
        font-size: 17px;
        margin-top: 10px;
    }

    .abus__img img {
        height: 100px;
        width: 100px;
    }

    .abus__inner {
        width: 100px;
    }
}