footer {
    background-color: #731A1A;
    width: 100%;
    text-align: left;
    font-size: 18px;
    padding: 45px 50px;
    color: #fff;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.footer__links {
    margin-bottom: 10px;
}

.footer__links a {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 12px;
    position: relative;
}

.footer__links a:last-child {
    margin-right: 0;
}

.footer__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.footer__nums {
    text-align: right;
    margin-right: 40px;
}

.footer__images {
    margin: auto 0;
}

.footer__images a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
}

.footer__right a:hover {
    background-color: #D99E89;
}

.footer__right a img {
    width: 40px;
    height: 40px;
}

.footer__copy__mobile {
    display: none;
}

@media (max-width: 1200px) {

    footer {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding: 25px 25px;
    }

    .footer__right {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 100%;
    }

    .footer__left {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 100%;
    }

    .footer__nums {
        text-align: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .footer__images {
        margin-left: auto;
    }

}

@media (max-width: 930px) {

    .footer__links {
        display: none;
    }

    .footer__left {}

    .footer__right {
        margin: 0;
    }

    .footer__copy__pc {
        display: none;
    }

    .footer__copy__mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto;
    }
}

@media (max-width: 700px) {

    footer {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        -ms-flex-line-pack: center;
            align-content: center;
    }

    .footer__nums {
        width: 100%;
        text-align: center;
    }

    .footer__images {
        width: 100%;
    }

}

@media (max-width: 500px) {

    footer {
        font-size: 16px;
    }

    .footer__right a {
        width: 35px;
        height: 35px;
        border-radius: 4px;
    }

    .footer__right a img {
        width: 35px;
        height: 35px;
    }
}