footer {
    background-color: #731A1A;
    width: 100%;
    text-align: left;
    font-size: 18px;
    padding: 45px 50px;
    color: #D99E89;
}

.footer__links {
    margin-bottom: 10px;
}

.footer__links a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 12px;
    color: #D99E89;
    position: relative;
    -webkit-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.footer__links a:last-child {
    margin-right: 0;
}

.footer__links a:hover {
    color: #D9751E;
}

.footer__right {
    float: right;
    margin-top: 10px;
}

.footer__right a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #D99E89;
    border-radius: 5px;
    -webkit-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
}

.footer__right a:hover {
    background-color: #D9751E;
}

.footer__right a img {
    width: 40px;
    height: 40px;
}

@media (max-width: 930px) {

    .footer__links {
        display: none;
    }

    footer {
        padding: 30px 40px;
    }

    .footer__left {}

    .footer__right {
        margin: 0;
    }
}

@media (max-width: 500px) {

    footer {
        font-size: 16px;
    }

    .footer__right a {
        width: 35px;
        height: 35px;
        border-radius: 4px;
    }

    .footer__right a img {
        width: 35px;
        height: 35px;
    }
}