.popup_window{
	opacity: .5;
	background: #29C23B;
	border: solid 2px #22861C;
	position: absolute;
	z-index: 1000;
	width: 500px;
	text-align: center;
}

.popup_window_inner{
	position: relative;
	display: flex;
	justify-content: center;
	top: 10px;
}
