.popup {
    position: fixed;
    z-index: 9999;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}

.popupContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0.9;
    margin-top: 10px;
    border-radius: 4px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.ppContGreen {
    background-color: #009E08;
}

.ppContRed {
    background-color: #ff4040;
}

.popupBody {
    padding: 10px 60px;
}

.popupHidden {
    display: none;
}

.popupVisuallyHidden {
    opacity: 0;
}

@media (max-width: 600px) {

    .popupBody {
        padding: 10px 10px;
    }

}