.popup {
    position: fixed;
    z-index: 9999;
    left: 50%;
    transform: translate(-50%, 0);
}

.popupContent {
    display: flex;
    opacity: 0.9;
    margin-top: 10px;
    border-radius: 4px;
    transition: all 0.2s linear;
}

.ppContGreen {
    background-color: #009E08;
}

.ppContRed {
    background-color: #ff4040;
}

.popupBody {
    padding: 10px 30px;
}

.popupHidden {
    display: none;
}

.popupVisuallyHidden {
    opacity: 0;
}
