.main_price_block
{
    position:relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
}
.price_block
{
    width:30%;
    height:auto;
    margin-top: 30px;
}
.price_block_image img
{
    position: relative;
    float:left;
    height:70px;
    width:70px;
    border-radius: 100px;
    background-color: white;
    margin:0 10px 0px 0;
}

.price_block_text
{
    font-size:16px;
}
.price_block_title
{
    font-size: 19px;
}
