*
{
    margin:0;
    padding:0;
    /*overflow: hidden;*/
}

body
{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size:20px;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a
{
    text-decoration: none;
    color: #fff;
}

.hidden__elements {
    display: none; /*скрыл какие-то ссылки после футера*/
}

/*Container*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/*Header_background*/
header
{
    width:100%;
    height: 100.1vh;
    background-image: url(../images/header.jpeg);
    background-size: cover;
    position:relative;
}
header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.7);
  z-index: 1;
}

/*Menu*/
.header_menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 15%;
    position: relative;
    z-index: 1000;
}

.header_logo
{
    display: flex;
    margin-left:50px;
    font-size:27px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    color:#fff;
}

/*Navigation*/
.header_nav
{
    display:flex;
    font-size:18px;
    text-transform: uppercase;
    margin-right: 25px;
}

.header_nav_link
{
    margin-left: 15px;
}

/*Title*/
.header_title
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85%;
    bottom:13%;
    position:relative;
    z-index:100;
}

.header_text
{
    position: relative;
    top:20px;
    font-size:90px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    /*text-transform: uppercase;*/
}

.header_subtext
{
    font-size: 21px;
    color: #888;
}

.main_button
{
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding:10px 15px;
    border: 5px inset;
    font-size:24px;
    font-weight: bold;
    text-transform: uppercase;
    top:50px;
}

/*Languages*/
.section {
    color: black;
    margin-bottom: 60px;
}

.section:first-of-type {
    margin-top: 60px;
}

.section__header {
    text-align: center;
    margin-bottom: 20px;
}

.section__noText {
    text-align: center;
    margin-bottom: 0px;
}

.section__title {
    font-size: 35px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__text {
    font-size: 17px;
    color: #888;
}



/*Capability blocks*/
.can {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top:50px;
}
.can__photo1 {
  width: 500px;
  height: 400px;
  display: block;
}

.can__right {
  display: block;
}
.can__title {

  color: #252525;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  padding: 53px 0 13px 43px;

}
.can__title:after {
  display: block;
  content: "";
  height: 1px;
  width: 87%;
  background-color: rgb(0, 0, 0);
}
.can__text {
padding:
color: #000;
font-size: 14px;
font-weight: 400;
line-height: 25px;
display: flex;
flex-wrap: wrap;
padding: 0 43px;


}


/*Price list*/
.main_price_block
{
    position:relative;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}
.price_block
{
    position:relative;
    width:30%;
    height:auto;
    margin-top: 30px;;
}
.price_block_image img
{
    float:left;
    height:70px;
    width:70px;
    border-radius: 100px;
    background-color: white;
    margin:0 10px 0px 0;
}

.price_block_text
{
    font-size:16px;
}

@media (max-width: 1200px)
{
    /*header*/
    .header_nav_link
    {
        margin-left:10px;
    }

    .header_nav
    {
        font-size:15px;
    }

    .header_logo
    {
        font-size: 25px;
        margin-left:20px;

    }

    .header_text
    {
        font-size:85px;
    }
}

@media (max-width: 970px)
{
    /*header*/
    .header_nav_link
    {
        margin-left:8px;
    }

    .header_nav
    {
        font-size:13px;
        margin-right:15px;
    }

    .header_logo
    {
        font-size: 20px;
        margin-left:20px;
    }

    .header_text
    {
        font-size:70px;
    }

    .main_button
    {
        font-size:20px;
    }
}

@media (max-width: 800px)
{
    /*header*/
    .header_nav_link
    {
        margin-left:5px;
    }

    .header_nav
    {
        display: none;
    }

    .header_logo
    {
        margin-left:13px;
    }

    .main_button
    {
        font-size:15px;
    }
}

@media (max-width: 600px)
{
    /*header*/
    .header_logo
    {
        margin-left:10px;
    }

    .header_text
    {
        font-size:46px;
    }

    .main_button
    {
        font-size:13px;
    }
}

@media (max-width: 400px)
{
    /*header*/
    .header_text
    {
        font-size:35px;
    }

    .main_button
    {
        font-size:13px;
    }
}