@font-face {
font-family: 'Jost* Book';
font-style: normal;
font-weight: normal;
src: local('Jost* Book'), url('Jost400Book.woff') format('woff');
}


@font-face {
font-family: 'Jost* Thin';
font-style: normal;
font-weight: normal;
src: local('Jost* Thin'), url('Jost200Thin.woff') format('woff');
}



@font-face {
font-family: 'Jost* Light';
font-style: normal;
font-weight: normal;
src: local('Jost* Light'), url('Jost300Light.woff') format('woff');
}


@font-face {
font-family: 'Jost* LightItalic';
font-style: normal;
font-weight: normal;
src: local('Jost* LightItalic'), url('Jost300LightItalic.woff') format('woff');
}

@font-face {
font-family: 'Dancing Script';
font-style: normal;
font-weight: normal;
src: local('Dancing Script'), url('DancingScript-Medium.ttf') format('opentype');
}