/* Main */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
  color: #A3A3A3;
  transition: all 0.4s;
}
/* Container */

section {
  margin-top: 100px;
  margin-bottom: 100px;
 
    
    
}
.black {
  position:  absolute;
  display: block;
  background-color: #000;
  opacity: 0.45;
  z-index: -4;
  width: 100%;
  height: 770px;
}

/* Header */
header {
  width: 100%;
  z-index: 0;

}

.header__inner {
  display: flex;
  justify-content: space-between;


}
.logo {

color: #fff;
font-size: 24px;
font-weight: 700;
padding: 40px 230px;
z-index: 0;
}
.logo:hover {
  color #fff;
}
.menu {
  display: flex;
  width: 34%;
  justify-content: space-between;
  margin-right: 14%;
  padding: 45px 0;

}
.menu__item {

color: #fff;
font-size: 14px;
font-weight: 400;
/*display: block;*/

}

/* First section */
.title__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 770px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
}

.first__section{

  height: 770px;
    width: 100%;

}

.first__section__img {
  position: absolute;
  width: 100%;
  height: 770px;
  z-index: -5;
}
.title {
  width: 100%;
  height: 661px;
  display: flex;
  justify-content: center;
    z-index: 0;
}
.title__inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
    justify-content: center;
    align-items: center;


}

.title__inner .ffsec__button {
    margin-top: 50px;
    
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.ffsec__button--title:hover {
    color: #A3A3A3;
    transition: all 0.4s;
    border-color: #A3A3A3;
}

.title__welcome {

  display: block;
  /*width: 100%;*/
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  transform: translate(0, -50%);

  margin-bottom: 10px;

 /* margin-left: 50%;
  margin-bottom: 35px;
  transform: translate(-50%, 0);*/



}

.title__text {
  display: block;
  transform: translate(0, -50%);


 /* margin-left: 50%;
  transform: translate(-20%, 0);*/

  font-family: "Roboto Slab";
  font-weight: 400;
  color: #fff;
  text-align: center;
}

/* Second section */

.second__section {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.secsec__title {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  width: 100%;
    
    margin-bottom: 120px;

}
.secsec__title__inner  {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.secsec__title__main {
  color: #555;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;

    display: block;
    text-align: center
    


}
.secsec__title__main:after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #555;
  margin: 0 auto;
  margin-top: 15px;
}

.secsec__title__text {

    color: #555;
    font-family: "Roboto Slab";
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 15px;
}
.secsec__cards__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.secsec__cards {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 120px;
    max-width: 1200px;

}
.card {
    width: 33.3333333%;
    display: flex;
    
}
.secsec__info__item {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 0 25px;
    
}

.secsec__info__item__logo {
    
    color: #c0301c;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    
}

.secsec__info__item__title {
    display: block;
    margin-bottom: 25px;
    text-align: center;

    color: #555;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.secsec__info__item__text {
    display: block;
    text-align: center;
    

    color: #555;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.prelogo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.secsec__info__item__logo--a {
    background-color: #c0301c;
    border-radius: 50%;
    color: #fff;
}

.secsec__info__item__logo--non_a {
    border-radius: 50%;
    border: 2px solid #ddd;
}

.thsec__text {
    margin-top: 120px;
    display: flex;
}

/* Third section */
.thsec__pretext {
    width: 100%;
}
.thsec__text__wrapper {
    display: flex;
}

.thsec__text {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 75px;
}
.thsec__text__item {
    max-width: 553px;
    
    color: #555;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 400;
}

.thsec__text__item:first-child {
    margin-right: 35px;
}

.wecards__wrapper {
    display: flex;

}

.wecards {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.wecards__item {
    margin-right: 29px;
    
}

.wecards__photo {
    margin-bottom: 20px;
    background-color: #000;
    width: 263px;
    height: 250px;
}

.wecards__photo__inner:hover .wecards__photo img{
    opacity: .6;
    cursor: pointer;
    transition: opacity 0.4s;
}

.wecards__photo__inner:hover .wecards__socials {
    display: flex;
    transition: all 0.4s;
}

.wecards__socials:hover i:hover {
    color: #c0301c;
}

.wecards__name {
    text-align: center;
    color: #555;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    
    
}

.wecards__work {
    color: #555;
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 400;
    
    text-align: center;
    margin-top: 10px;
}

.wecards__photo__inner {
    position: relative;  
    display: flex;
    justify-content: center;
    transition: all 0.4s;
}

.wecards__socials {
    display: none;
    position: absolute;
    top: 70%;
    
    transform: translate(-50% 0);

}

.wecards__socials__item {
    display: flex;
    margin-right: 15px;
}

.wecards__photo__inner i {
    display: block;
    color: #fff;
    
    transition: all 0.4s;

}

.wecards__photo__inner i:last-child{
    margin-right: 0;
}

/* Fourth section */

.works__wrapper {
    margin-top: 120px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.works__row {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    
}

.works__row:last-child {
    margin-bottom: 0;
}

.works__item {
    margin-right: 30px;
    
}

.works__item:last-child {
    margin-right: 0;
}

.works__title {
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 16px;
}

.works__text {
    color: #fff;
    font-family: "Roboto Slab";
    font-size: 12px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    
    margin-bottom: 25px;
}

.works__button {
    color: #c0301c;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.4px;

    display: flex;
    height: 38px;
    width: 100px;
    justify-content: center;
    align-items: center;
    
    background-color: #fff;
}

.works__photo {
    background-color: #c0301c;
    height: 320px;
    width: 360px;
}

.works__photo__inner {
    position: relative;
    transition: all 0.4s;
}

.works__invisible {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.works__invisible {
    display: none;
    transition: all 0.4s;
}

.works__photo__inner:hover .works__photo img {
    opacity: .4;
    transition: all 0.4s;
}

.works__photo__inner:hover .works__invisible {
    display: block;
}

.works__button:hover {
    color: #fff;
    background-color: #c0301c;
    transition: all 0.4s;
}

/* Fifth section */

.ffsec__photo {
    background-color: #c0301c;
    width: 100%;
    display: flex;
    
    position: relative;
}

.ffsec__photo img {
    width: 100%;;
    height: auto;
    opacity: .4;
}

.ffsec__title {
    color: #fff;
    font-family: "Roboto Slab";
    font-size: 30px;
    font-weight: 400;
    
    margin-bottom: 20px;
    
    text-align: center;
}

.ffsec__button {
    color: #fff;
    font-family: "Roboto Slab";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase; 
    
    border: 2px solid #fff;
    
    display: flex;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.ffsec__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    z-index: 2;
    
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

}

.ffsec__button:hover {
    color: #A3A3A3;
    border-color: #A3A3A3;
    transition: all .4s;
}

/* Sixth section */

.blog {
    margin-top: 140px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
        
}

.blog__date {
    color: #777;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    
    display: flex;
    text-align: center;
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
    margin-right: 28px;
    
    border: 2px solid #555;
/*    border-radius: px;*/
    
}

.blog__author {
    color: #777;
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
}

.blog__title {
    color: #555555;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    
    margin-bottom: 10px;
}

.blog__text {
    color: #555;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 400;
    
    margin-bottom: 35px;
}

.blog__readmore {
    color: #777;
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}

.blog__item {
    display: flex;
    width: 72%;
    justify-content: center;
    margin-bottom: 77px;
    
}

.blog__item:last-child {
    margin-bottom: 0;
}

.blog__title__inner {
    display: flex;
    margin-bottom: 23px;
}

.blog__right {
    margin-left: 40px;
}

.blog__right:hover span {
    color: #c74736;
    transition: all 0.4s;
}

#blog__readmore:hover {
    color: #c74736;
    transition: all 0.4s;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    
}

.footer__icons {
    margin-bottom: 30px;
    display: flex;
    

}

.footer__icons:after {
    display: block;
    content: "";
    width: 50px;
    height: 2px;
    
    position: absolute;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    
    background-color: #fff;
    
}

.footer__icon {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-right: 15px;
    
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
}

.footer__icon:last-child {
    margin-right: 0;
}

section:last-child {
    margin-bottom: 0;
    height: 150px;
    background-color: #c0301c;
    
}

.copyright {
    color: #fff;
    font-family: "Roboto Slab";
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.footer__icon:hover {
    color: #A3A3A3;
    transition: all 0.4s;
    border-color: #A3A3A3;
} 








