*{
	font-family: 'Montserrat', sans-serif;
	flex-wrap: wrap;
	line-height: 1.4;
}


/*Header*/
header {
	width: 100%;
	display: flex;
	justify-content: center;
}

header h3 {
	text-align: center;

}

.unchecked_comments{
	display: flex;
	justify-content: center;
}

/*Comment*/
.comment_inner {
	display: flex;
	margin-bottom: 10px;
	border: solid 1px black;
	border-radius: 2px;
	width: 95%;
	padding: 10px;
	justify-content: space-between;
}

.comment {
	text-align: justify;
	margin-bottom: 10px;
}

.comment_SubDel_wrapper {
	display: flex;
	justify-content: space-between;
	width: 80px;
	margin-bottom: 10px;
}

.comment_left {
	max-width: 80%;
}

.comment_right {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	max-width: 17%;
	text-overflow: ellipsis;
}

.comment_author {
	word-wrap: break-word;
	max-width: 100%;
	/*font-family: Шрифт для автора;*/
	font-style: italic;
}

/*Buttons*/
.fa-check{
	color: #87FEC2;
	transition: color .2s ease;

}

.fa-check:hover{
	color: #1EDE1E;
	cursor: pointer;
}

.fa-times {
	color: #FD8080;
	transition: color .2s ease;

}

.fa-times:hover{
	color: crimson;
	cursor: pointer;
}